<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="admin/common :: menu" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable secondary menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="fort awesome icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="list ul icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/avatar.jpg" th:src="@{/images/avatar.jpg}" alt=""
                             class="ui avatar image">
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="ui menu toggle icon black button m-left-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <ui class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/blogs/write}" class="item">写博客</a>
            <a th:href="@{/admin/blogs}" class="active teal item">博客列表</a>
        </div>
    </ui>
</div>

<!--所有文章-->
<div class="m-padded-tb-large m-container-small">
    <div class="ui container">
        <form class="ui segment secondary form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div id="clear-select" class="ui selection dropdown">
                        <input type="hidden" name="typeId">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div th:each="type : ${types}" class="item" th:data-value="${type.id}"
                                 th:text="${type.name}"></div>
                        </div>
                    </div>
                    <button type="button" id="clear-btn" class="ui button">Clear</button>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui teal button">搜索</button>
                </div>
            </div>
        </form>

        <table id="table-container" th:fragment="blogList" class="ui compact teal table">
            <thead class="center aligned">
            <tr>
                <th class="one wide"></th>
                <th class="four wide">标题</th>
                <th class="three wide">分类</th>
                <th class="one wide">推荐</th>
                <th class="three wide">更新时间</th>
                <th class="one wide">状态</th>
                <th class="three wide">操作</th>
            </tr>
            </thead>
            <tbody class="center aligned">
            <tr th:each="blog, iterStat : ${page.content}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.type.name}"></td>
                <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                <td th:text="${#dates.format(blog.updatedTime, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${blog.published} ? '发布' : '草稿'"></td>
                <td>
                    <a th:href="@{/admin/blogs/{id}/write(id=${blog.id})}" class="ui mini teal button">编辑</a>
                    <a th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="7">
                    <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                        <a onclick="page(this)" th:attr="data-page=${page.number}-1" th:unless="${page.first}"
                           class="item">上一页</a>
                        <a onclick="page(this)" th:attr="data-page=${page.number}+1" th:unless="${page.last}"
                           class="item">下一页</a>
                    </div>
                    <a th:href="@{/admin/blogs/write}" class="ui mini right floated teal button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>

        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示:</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
    </div>
</div>

<!--底部-->
<footer th:replace="admin/common :: footer" class="m-padded-tb-big m-container" style="text-align: center;">
    <!--版权所有-->
    <p class="m-text-thin m-text-space m-opacity-tiny">Copyright © 2020 Blog designed by cijee</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script type="text/javascript" th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    // 关闭信息提示
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    })

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    // 加载表单数据
    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });

    function loaddata() {
        $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        });
    }

    $('#clear-btn').click(function () {
        $('#clear-select').dropdown('clear');
    });
</script>
</body>
</html>