<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav th:fragment="menu" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable secondary menu">
            <a th:href="@{/admin/index}"><h2 class="ui teal header item">后台管理</h2></a>
            <a th:href="@{/admin/blogs}" class="m-item item m-mobile-hide"><i class="fort awesome icon"></i>文章</a>
            <a th:href="@{/admin/types}" class="m-item item m-mobile-hide"><i class="list ul icon"></i>分类</a>
            <a th:href="@{/admin/tags}" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui dropdown item">
                    <div class="text">
                        <img th:src="@{${session.user.avatar}}" alt="" class="ui avatar image">
                        <span th:text="${session.user.nickName}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/admin/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="ui menu toggle icon black button m-left-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--底部-->
<footer th:fragment="footer" class="m-padded-tb-big m-container" style="text-align: center;">
    <!--版权所有-->
    <!--版权所有-->
    <div class="m-text-thin m-text-space m-opacity-tiny">
        <span th:text="#{blog.copyright}"></span>
        <a href="http://www.beian.miit.gov.cn/" style="color: inherit;" th:text="#{blog.icp}"></a>
    </div>
</footer>

</body>
</html>