<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/common :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="admin/common :: menu" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted stackable secondary menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="fort awesome icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="list ul icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right menu m-mobile-hide m-item">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/avatar.jpg" th:src="@{/images/avatar.jpg}" alt="" class="ui avatar image">
                        cijee
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="ui menu toggle icon black button m-left-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <ui class="ui container">
        <div class="right menu">
            <a th:href="@{/admin/tags/input}" class="item">新增</a>
            <a th:href="@{/admin/tags}" class="active teal item">列表</a>
        </div>
    </ui>
</div>

<!--所有文章-->
<div class="m-padded-tb-large m-container-small">
    <div class="ui container">

        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>

        <table class="ui compact teal table">
            <thead class="center aligned">
                <tr>
                    <th class="two wide"></th>
                    <th class="ten wide">标签</th>
                    <th class="four wide">操作</th>
                </tr>
            </thead>
            <tbody class="center aligned">
                <tr th:each="tag,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}"></td>
                    <!--标签名字-->
                    <td th:text="${tag.name}"></td>
                    <td>
                        <a href="#" th:href="@{/admin/tags/{id}/edit(id=${tag.id})}" class="ui mini teal button">编辑</a>
                        <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red button">删除</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <a th:href="@{/admin/tags(page=${page.number}-1)}" th:unless="${page.first}" class="item">上一页</a>
                            <a th:href="@{/admin/tags(page=${page.number}+1)}" th:unless="${page.last}" class="item">下一页</a>
                        </div>
                        <a th:href="@{/admin/tags/input}" class="ui mini right floated teal button">新增</a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--底部-->
<footer th:replace="admin/common :: footer" class="m-padded-tb-big m-container" style="text-align: center;">
    <!--版权所有-->
    <p class="m-text-thin m-text-space m-opacity-tiny">Copyright © 2020 Blog designed by cijee</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    })
</script>
</body>
</html>