body {
    background: url("../images/geometry.png");
}

/*内间距*/
.m-padded-mini {
    padding: 0.2em !important;
}
.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded-small {
    padding: 0.5em !important;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-big {
    padding: 2em !important;
}
.m-padded-massive {
    padding: 5em !important;
}
/*上下内间距*/
.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}.
 m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-big {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-large {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-padded-lr-big {
    padding-left: 2em !important;
    padding-right: 2em !important;
}
/*在手机端，这个样式会变0*/
.m-padded-lr-large {
    padding-left: 3em !important;
    padding-right: 3em !important;
}
.m-padded-lr-huge {
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.m-padded-lr-clear {
    padding-left: 1em !important;
    padding-right: 1em !important;
}

/*外边距*/
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
/*margin-top*/
.m-margin-top-small {
    margin-top: 0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 3em !important;
}
.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

.m-left-top {
    position: absolute;
    top: 0;
    left: 0;
}
.m-right-top {
    position: absolute;
    top: 0;
    right: 0;
}
/*---字体---*/
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-space {
    letter-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8;
}
/*---opacity---*/
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}
/*行内*/
.m-inline-block{
    display: inline-block !important;
}
/*---container---*/
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}
/*---color---*/
.m-black {
    color: #333 !important;
}

.m-blue {
    color: #0eb0c9 !important;
}

/*---shadow---*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.m-mobile-show {
    display: none !important;
}
@media screen and (max-width: 768px){
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-large {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
    .m-padded-lr-clear {
        padding-left: 0em !important;
        padding-right: 0em !important;
    }
}

/*绝对布局*/
.m-fixed {
    position: fixed !important;
    z-index: 1 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}